@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins/Poppins-Medium.woff2) format("woff2"),
    url(../fonts/poppins/Poppins-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins/Poppins-Bold.woff2) format("woff2"),
    url(../fonts/poppins/Poppins-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins/Poppins-SemiBold.woff2) format("woff2"),
    url(../fonts/poppins/Poppins-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins/Poppins-Regular.woff2) format("woff2"),
    url(../fonts/poppins/Poppins-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins/Poppins-Italic.woff2) format("woff2"),
    url(../fonts/poppins/Poppins-Italic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Cal-sans";
  src: url(../fonts/cal-sans/CalSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bong";
  src: url(../fonts/lugat/Boncegro\ FF\ 4F.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "textabout";
  src: url(../fonts/textabout/EternalUiRegular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
